@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="htf-title">Dashboard</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Challenge 1 <span class="label label-success">SOLVED</span></h3>
            </div>
            <div class="panel-body">
                <p>It appears the artifact requires a simple test of our intelligence. A simple sum of random integers seems to be expected.</p>

                <a asp-area="" asp-controller="Challenge" asp-action="One" class="btn btn-primary">Go to challenge</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Challenge 2 <span class="label label-success">SOLVED</span></h3>
            </div>
            <div class="panel-body">
                <p>It appears the artifact requires a simple test of our intelligence. A simple sum of random integers seems to be expected.</p>

                <a asp-area="" asp-controller="Challenge" asp-action="Two" class="btn btn-primary">Go to challenge</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Challenge 3 <span class="label label-danger">UNSOLVED</span></h3>
            </div>
            <div class="panel-body">
                <p>It appears the artifact requires a simple test of our intelligence. A simple sum of random integers seems to be expected.</p>

                <a asp-area="" asp-controller="Challenge" asp-action="Three" class="btn btn-primary">Go to challenge</a>
            </div>
        </div>
    </div>
</div>